body {
    font-family: Arial, sans-serif;
}

.fadeIn {
    animation-name: fadeInAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity: 0;
    }
    
    @keyframes fadeInAnime{
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
    }

.fadeIn2 {
    animation-name: fadeInAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity: 0;
    }
    
    @keyframes fadeInAnime{
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
    }

header {
    background-color: #555;
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px 0;
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}