/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	text-align:center;
	color:#fff;
}

/* Loading画像中央配置　*/
#splash_text {
	position: absolute;
	top: 50%;
	left: 50%;
    z-index: 999;
	transform: translate(-50%, -50%);
	color: #fff;
	width: 100%;
}

/*割れる画面のアニメーション*/
.loader_cover {
    width: 100%;
    height: 50%;
    background-color: #202020;
    transition: all .2s cubic-bezier(.04, .435, .315, .9);
    transform: scaleY(1);
}
/*上の画面*/
.loader_cover-up {
    transform-origin: center top;
}

/*下の画面*/
.loader_cover-down {
    position: absolute;
    bottom: 0;
    transform-origin: center bottom;
}
/*クラス名がついたらY軸方向に0*/
.coveranime {
    transform: scaleY(0);
}

.header {
    background-color: #202020;
    color: #fff;
    height: 90px;
}

.header-list{
    list-style: none;
}
.header-logo {
    float: left;
    color: #fff;
    font-size: 36px;
    padding: 20px 40px;
}

.header-list li {
    float: left;
    color: #fff;
    padding: 33px 20px;
    list-style: none;
}

.main {
    /* background-colorの指定を消してください */
    
    /* heightの指定を消してください */
    
    /* 上下のpaddingを100px、左右のpaddingを80pxにしてください */
    padding: 100px 80px;
    
}

  /* copy-containerの中のh1のfont-sizeを指定してください */
.copy-container h1 {
    font-size: 140px;
}

  /* copy-containerの中のh2のfont-sizeを指定してください */
.copy-container h2 {
    font-size: 60px;
}

  /* copy-containerの中のspanの色を指定してください */
.copy-container span {
    color: #ffb5e6;
}

.footer {
    background-color: #202020;
    color: #fff;
    height: 120px;
    padding: 40px;
}

.footer-logo {
    float: left;
    font-size: 32px;
    color: #fff;
}

.footer-list {
    float: right;
    color: #fff;
}

.footer-list li {
    padding-bottom: 20px;
    float: left;
    color: #fff;
    list-style: none;
}

/*== 波紋がふわっと広がる */

.btnripple3{
    /*波紋の基点とするためrelativeを指定*/
    position: relative;
    /*リンクの形状*/
    display:inline-block;
    margin:0 10px 20px 10px;
    text-decoration: none;
    color: #fff;
    outline: none;
}

body{
    vertical-align:middle; 
    padding: 100px 0;
    text-align: center;
}

p{
    margin: 0 0 10px 0;
}

li {
    list-style: none;
    float: left;
    /* 上下のpaddingを33px、左右のpaddingを20pxにしてください */
    padding: 33px 20px;
}

/*波形の設定*/
.btnripple3:hover::before {
    content: '';
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left:30%;
    top:0;
    /*波形の形状*/
    border: 1px solid #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /*はじめは不透明*/
	opacity:1;
    /*アニメーションの設定*/
    animation:1s circleanime2 forwards;
}

/*波形が広がるアニメーション*/
@keyframes circleanime2{
	0%{
	transform: scale(0);
	}
	100%{
		transform:scale(2);
		opacity: 0;
	}
}

html, body {
    margin: 0;
    padding: 0;
}
